%h1 Preference Settings
= form_tag user_path, :method => :put do
	%div#project-preference-list
		%h4 Check projects to monitor:
		- @all_projects.each do |project|
			%div
				= check_box_tag "projects[#{project.id}]", 0, (@preferred_projects.include? project)
				= label_tag "projects_#{project.id}", project.name
	%div#metric-preference-list
		%h4 Check Metrics to monitor:
		- @all_metrics.each do |metric|
			%div
				= check_box_tag "metrics[#{metric}]", 0, (@preferred_metrics.include? metric)
				= label_tag "metrics_#{metric}", metric.camelcase
	%br
	= submit_tag "Save", :id => "project_preference_submit", :class => "btn btn-default"
%br
= link_to "Back", root_path, :class => "btn btn-primary"