- name = config.metric_name
- readonly = !(defined?(editing))
%div{:id => name}
  %fieldset
    %legend= name.humanize
    - config.options.each_pair do |key,val|
      - field_name = "config[#{name}][options][#{key}]"
      %label{:for => field_name}= "#{key}:"
      = text_field_tag field_name, val, :disabled => readonly
      %br

    - unless readonly
      %label Add new config keys and values:
      %br
      = text_field_tag "config[#{name}][new][]", ''
      \ :
      = text_field_tag "config[#{name}][new][]", ''
      %br
      = text_field_tag "config[#{name}][new][]", ''
      \ :
      = text_field_tag "config[#{name}][new][]", ''
