= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2 #{pluralize(@project.errors.count, "error")} prohibited this project from being saved:

      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    %br
    = f.text_field :name

  - ProjectMetrics.metric_names.each do |name|
    - name.gsub!(/project_metric_/, '')
    - config = @project.configs.where(:metric_name => name).first || @project.configs.build(:metric_name => name)
    = render :partial => 'config', :object => config

  .actions
    = f.submit
