= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2 #{pluralize(@project.errors.count, "error")} prohibited this project from being saved:

      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    %br
    = f.text_field :name

  - ProjectMetrics.metric_names.each do |name|
    - config = @project.config_for(name)
    = render :partial => 'config', :object => @project.config_for(name), :locals => {:editing => true}

  .actions
    = f.submit
