%p
  %strong Name:
  = @project.name

%p
  %strong Config:
  = render :partial => 'config', :collection => @project.configs

= link_to 'Edit', edit_project_path(@project) 
= " | "
= link_to 'Back', projects_path
